* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 71, 91);
}

.container {
    width: 1080px;
    margin: auto;
    height: 100%;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    border: 1px solid rgb(255, 122, 89);
    border-radius: 3px;
}
.btn-primary {
    background-color: rgb(255, 122, 89);
    color: white;
    border: none;
    opacity: 1;
}

#header-top {
    height: 84px;
    width: 100%;
    background-color: rgb(245, 248, 250);
    border-bottom: 1px solid rgb(203, 214, 226);
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
}
#header-top-left {
    float: left;
    width: 50%;
    vertical-align: middle;
}
#header-top-left ul, #header-top-left li{
    display: inline-block;
}
 #header-top-left li {
    padding: 5px 10px 5px 0;
    margin: 26px 10px 26px 0px;
}

#header-top-left i {
    font-size: 16px;
}
#header-top-left li:first-child {
    border-right: 2px solid rgb(203, 214, 226);
}
#header-top-left select {
    border: none;
    font-size: 14px;
    color: rgb(51, 71, 91);
    font-family: 'Montserrat', sans-serif;
}

#header-top-left a {
    text-decoration: none;
    color: rgb(51, 71, 91);
    font-weight: 500;
}

#header-top-right {
    float: left;
    width: 50%;
    text-align: right;
}
#header-top-right ul, #header-top-right li {
    display: inline-block;
}

#header-top-right ul {
    margin: 21px 0;
}

#header-top-right li {
    margin-left: 12px;
}

#header-top-right i {
    color: rgb(48, 179, 200);
    font-size: 18px;
    vertical-align: middle;
}

#header-top-right li:first-child {
    padding: 5px;
}

#header-top-right .btn a {
    text-decoration: none;
    color: rgb(255, 122, 89);
}

#header-top-right .btn-primary a {
    text-decoration: none;
    color: white;
}

#header-top-right .btn {
    padding: 12px 30px;
    color: rgb(255, 122, 89);
}

#btnone:hover {
    background-color: rgb(255, 242, 238);
}

.btn-primary:hover {
    opacity: 0.5;
}
#header-top-right .btn-primary {
    padding: 12px 10px;
}

#header-bottom {
    height: 91px;
    background-color: white;
    vertical-align: middle;
    box-shadow: 0px 14px 50px -22px #000000;
}

#header-bottom .container {
    margin-top: 84px;
}

#header-bottom-left {
    float: left;
    width: 30%;
}

#header-bottom-left img {
    margin: 28.5px 0;
}

#header-bottom-right {
    float: left;
    width: 70%;
    text-align: right;
}

#header-bottom-right ul, #header-bottom-right li {
    display: inline-block;
}

#header-bottom-right li  {
    padding: 34.5px 15px;
}

#header-bottom-right li a {
    padding: 36px 15px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(51, 71, 91);
}
#header-bottom-right select {
    border: none;
    font-size: 16px;
    color: rgb(51, 71, 91);
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#cta {
    padding: 100px 0;
    background-image: url(img/Background.png);
    background-size: cover;
    background-clip: border-box;
    background-position: bottom, right;
    background-repeat: no-repeat;
}

#cta-main-text {
    width: 38%;
}

#cta-main-text h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

#cta-main-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

}
#cta-button-text {
    width: 19%;
    padding-bottom: 100px;
}

#cta-button-text .btn-primary {
    font-size: 16px;
    font-weight: 500;
    padding: 30px 30px;
    margin: 25px 0;
}
#cta-button-text a {
    text-decoration: none;
    color: white;
}
#cta-button-text p {
    font-size: 12px;
    font-weight: 500;
}

#offer {
    background-color: rgb(245, 248, 250);
}

#offer-top-left {
    float: left;
    width: 34%;
    padding: 0 30px 0 0;
}

#offer-top-left h3 {
    font-size: 30px;
}

#offer-top-left p {
    line-height: 30px;
    font-size: 16px;
    margin-top: 30px;
}

#offer-top-right {
    width: 66%;
}

#offer-top-right li {
    margin-left: 10px;
}

#offer-top-right p, #offer-top-right hr{
    display: inline-block;
}
#offer-top-right hr {
    width: 75%;
    margin: 4px 3px;
}

#offer-top-right ul, #offer-top-right .btn {
    float: left;
}

#offer-top-right ul {
    width: 60%;
}
#offer-top-right .btn {
    width: 40%;
    margin: 0;
}

.boxed-text {
    float: left;
    background-color: white;
    box-shadow: 1px 1px 20px rgb(230, 233, 235);
    border-radius: 3px;
    padding: 40px 40px 40px 30px;
}
.boxed-text ul, .boxed-text li {
    display: inline-block;
}

.boxed-text h4 {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
}

.boxed-text img {
    vertical-align: middle;
}

.boxed-text p:first-of-type {
    font-size: 13px;
    margin: 20px 0;
}

.boxed-text hr {
    background-color: rgb(230, 233, 235);
    border: 0;
    height: 1px;
}

.boxed-text p:last-of-type {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    padding: 15px 0;
}
.boxed-text i {
    color: rgb(255, 122, 89);
}

.boxed-text li {
    padding: 6px 0;
    margin-right: 25px;
    font-size: 13px;
    font-weight: 500;
}

.boxed-text .btn  {
    text-align: center;
    padding: 20px 0;
    margin-top: 15px;
}

.boxed-text a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding: 20px 70px;
}

.boxed-text:hover {
    transform: scale(1.03);
    box-shadow: 20px 20px 30px rgb(220, 223, 225);

}
#offer-bottom-left {
    width: 32%;
}

#offer-bottom-middle {
    width: 32%;
    margin: 0 2%;
}

#offer-bottom-right {
    width: 32%;
}

.offer-bottom {
    padding-bottom: 100px;
    margin-top: 20px;
}
.offer-top {
    padding-top: 100px;
}

#numbers {
    height: 600px;
    background-color: lightcoral;
}

#numbers-top {
    float: left;
    width: 100%;
    height: 200px;
    background-color: black;
}

#numbers-bottom {
    float: left;
    width: 100%;
    height: 400px;
    background-color: white;
}

.numbers-row {
    float: left;
    width:100%;
    height: 200px;
    background-color: grey;
}

.numbers-box {
    float: left;
    width: 25%;
    height: 200px;
    background-color: green;
    border: 1px solid white;
}

#growth {
    height: 600px;
    background-color: pink;
}

#growth-top {
    float: left;
    width: 100%;
    height: 200px;
    background-color: orange;
}
#growth-top-left {
    float: left;
    width: 40%;
    height: 100%;
    background-color: red;
}

#growth-top-right {
    float: left;
    width: 60%;s
    height: 100%;
    background-color: lightblue;
}

.gtr-row {
    float: left;
    width: 100%;
    height: 100px;
    background-color: blue;
}

.gtr-box {
    float: left;
    width: 25%;
    height: 100px;
    border: 1px solid white;
}

#growth-bottom {
    float: left;
    width: 100%;
    height: 400px;
    background-color: yellow;
}

#growth-bottom-left {
    float: left;
    width: 50%;
    height: 400px;
    background-color: grey;
}

#growth-bottom-right {
    float: left;
    width: 50%;
    height: 400px;
    background-color: darkgrey;
}

footer {
    height: 700px;
    background-color: blue;
}

#footer-top {
    float: left;
    width: 100%;
    height: 350px;
}

.linklist {
    float: left;
    width: 25%;
    height: 350px;
    border: 1px solid white;
}

#footer-middle {
    height: 100px;
    background-color: grey;
    clear: both;
}

#footer-button {
    float: right;
    width: 25%;
    height: 50px;
    background-color: red;

}

#footer-social {
    float: right;
    clear: right;
    width: 30%;
    background-color: orange;
    height: 50px;
}

#footer-language {
    width: 100%;
    height: 125px;
    background-color: green;
}

#footer-info {
    width: 100%;
    height: 125px;
}

#fi-left {
    float: left;
    width: 50%;
    height: 125px;
    background-color: lightcoral;
}

#fi-right {
    float: left;
    width: 50%;
    height: 125px;
    background-color: red;
}

#message {
    position: fixed;
    bottom: 20px;
    right: 5px;
    height: 50px;
    width: 50px;
    background-color: lightgreen;
}
