* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Proprietà generali */

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 71, 91);
}

.container {
    width: 1080px;
    margin: auto;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    border: 1px solid rgb(255, 122, 89);
    border-radius: 3px;
}

.btn-primary {
    background-color: rgb(255, 122, 89);
    color: white;
    border: none;
    opacity: 1;
}

.btn-primary:hover {
    opacity: 0.5;
    transition: all .3s ease-in-out;
}

/* Fine Proprietà generali */
/* Proprietà header */

#header-top {
    height: 84px;
    width: 100%;
    background-color: rgb(245, 248, 250);
    border-bottom: 1px solid rgb(203, 214, 226);
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    z-index: 10;
}

#header-top-left {
    float: left;
    width: 50%;
    vertical-align: middle;
}

#header-top-left ul, #header-top-left li{
    display: inline-block;
}

 #header-top-left .fixed-li {
    padding: 5px 10px 5px 0;
    margin: 26px 10px 26px 0px;
}

#header-top-left i {
    font-size: 16px;
}

#header-top-left i:nth-of-type(2) {
    color: rgb(124, 152, 182);
    padding-right: 5px;
}

#header-top-left #border-li{
    border-right: 2px solid rgb(203, 214, 226);
}

#header-top-left span {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5px;
    position: relative;
}

#header-top-left ul li ul {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(203, 214, 226);
    list-style-type: none;
    transform: translate(30%,2%);
    padding: 0 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(203, 214, 226);
}

#header-top-left ul li:hover ul{
    display: block;
}

.fixed-li li {
    padding: 10px 5px;
}

#header-top-left a {
    text-decoration: none;
    color: rgb(51, 71, 91);
    font-weight: 500;
}

#header-top-right {
    float: left;
    width: 50%;
    text-align: right;
}

#header-top-right ul, #header-top-right li {
    display: inline-block;
}

#header-top-right ul {
    margin: 21px 0;
}

#header-top-right li {
    margin-left: 12px;
}

#header-top-right i {
    color: rgb(48, 179, 200);
    font-size: 18px;
    vertical-align: middle;
}

#header-top-right li:first-child {
    padding: 5px;
}

#header-top-right .btn a {
    text-decoration: none;
    color: rgb(255, 122, 89);
}

#header-top-right .btn-primary a {
    text-decoration: none;
    color: white;
}

#header-top-right .btn {
    padding: 12px 30px;
    color: rgb(255, 122, 89);
}

#btnone:hover {
    background-color: rgb(255, 242, 238);
    transition: all .5s ease-in-out;
}

#header-top-right .btn-primary {
    padding: 12px 10px;
}

#header-bottom {
    height: 91px;
    background-color: white;
    vertical-align: middle;
}

#header-bottom .container {
    margin-top: 84px;
}

#header-bottom-left {
    float: left;
    width: 30%;
}

#header-bottom-left img {
    margin: 28.5px 0;
}

#header-bottom-right {
    float: left;
    width: 70%;
    text-align: right;
}

#header-bottom-right ul, #header-bottom-right li {
    display: inline-block;
}

#header-bottom-right li  {
    padding: 34.5px 15px;
}

#header-bottom-right li a {
    padding: 36px 15px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(51, 71, 91);
}

#header-bottom-right span {
    font-size: 16px;
    font-weight: 500;
}

#header-bottom-right i {
    padding-left: 5px;
    color: rgb(124, 152, 182);
}

#header-bottom-right ul li .hover-div {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(203, 214, 226);
    list-style-type: none;
    transform: translate(-20%,2%);
    padding: 0 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(203, 214, 226);
}

#header-bottom-right ul li:hover .hover-div{
    display: block;
}

.hover-div div {
    padding: 30px 15px;
}

.hover-div hr {
    background-color: rgb(124, 152, 182);
    border: 0;
    height: 1px;


}
#header-bottom-right .menu-hover-div {
    float: left;
    width: 26%;
    text-align: left;
    margin-left:7%;
}

#header-bottom-right h4 {
    margin-bottom: 10px;
    padding-right: 10px;
}

#header-bottom-right p {
    font-size: 12px;
}

#header-bottom-right p span {
    font-size: 12px;
    font-weight: 700;
}

#header-bottom-right .inline-elem {
    display: inline-block;
}
/* Fine proprietà header */
/* Inizio proprietà prima sezione */

#cta {
    padding: 100px 0;
    background-image: url(img/Background.png);
    background-size: cover;
    background-clip: border-box;
    background-position: bottom, right;
    background-repeat: no-repeat;
}

#cta-main-text {
    width: 38%;
}

#cta-main-text h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

#cta-main-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

}

#cta-button-text {
    width: 19%;
    padding-bottom: 100px;
}

#cta-button-text .btn-primary {
    font-size: 16px;
    font-weight: 500;
    padding: 30px 30px;
    margin: 25px 0;
}

#cta-button-text a {
    text-decoration: none;
    color: white;
}

#cta-button-text p {
    font-size: 12px;
    font-weight: 500;
}

/* Fine proprietà prima zezione */
/* Inizio proprietà seconda sezione */

#offer {
    background-color: rgb(245, 248, 250);
}

.offer-bottom {
    padding-bottom: 100px;
    margin-top: 20px;
}

.offer-top {
    padding-top: 100px;
}

#offer-top-left {
    float: left;
    width: 34%;
    padding: 0 30px 0 0;
}

#offer-top-left h3 {
    font-size: 30px;
}

#offer-top-left p {
    line-height: 30px;
    font-size: 16px;
    margin-top: 30px;
}

#offer-top-right {
    width: 66%;
}

#offer-top-right li {
    margin-left: 10px;
}

#offer-top-right p, #offer-top-right hr{
    display: inline-block;
}

#offer-top-right hr {
    width: 75%;
    margin: 4px 3px;
}

#offer-top-right ul, #offer-top-right .btn {
    float: left;
}

#offer-top-right ul {
    width: 60%;
}

#offer-top-right .btn {
    width: 40%;
    margin: 0;
}

#offer-bottom-left {
    width: 32%;
}

#offer-bottom-middle {
    width: 32%;
    margin: 0 2%;
}

#offer-bottom-right {
    width: 32%;
}

.boxed-text {
    float: left;
    background-color: white;
    box-shadow: 1px 1px 20px rgb(230, 233, 235);
    border-radius: 3px;
    padding: 40px 40px 40px 30px;
}

.boxed-text ul, .boxed-text li {
    display: inline-block;
}

.boxed-text h4 {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
}

.boxed-text img {
    vertical-align: middle;
}

.boxed-text p:first-of-type {
    font-size: 13px;
    margin: 20px 0;
}

#plonger {
    margin: 19px 0;
}

.boxed-text hr {
    background-color: rgb(230, 233, 235);
    border: 0;
    height: 1px;
}

.boxed-text p:last-of-type {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    padding: 15px 0;
}

.boxed-text i {
    color: rgb(255, 122, 89);
}

.boxed-text li {
    padding: 6px 0;
    margin-right: 25px;
    font-size: 13px;
    font-weight: 500;
}

.boxed-text .btn  {
    text-align: center;
    padding: 20px 0;
    margin-top: 15px;
}

.boxed-text a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding: 20px 70px;
}

.boxed-text:hover {
    transform: scale(1.03);
    box-shadow: 20px 20px 30px rgb(220, 223, 225);

}

/* Fine seconda sezione */
/* Inizio terza sezione */

#numbers {
    background-image: linear-gradient( 45deg, #00a4bd, #00bda5);
    color: white;
}

#numbers-top {
    float: left;
    width: 70%;
    margin: 0 15%;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
}

#numbers-top h3 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
}

#numbers-top p {
    line-height: 30px;
    font-weight: 400;
}

#numbers-bottom {
    float: left;
    width: 100%;
    margin-bottom: 120px;
}

.numbers-row {
    float: left;
    width:100%;
}

.numbers-box {
    float: left;
    width: 25%;
    border: 1px solid white;
    border-bottom: 0;
    text-align: center;
    padding: 30px 0;
}

#row-one .numbers-box {
    border-top: 0;
}

.numbers-box:first-child {
    border-left: 0;
}

.numbers-box:last-child {
    border-right: 0;
}

.numbers-box h3 {
    font-size: 45px;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: relative;
}

.numbers-box h3::after {
    content: "+";
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    top: 30%;
}

.numbers-box .no-add::after {
    display: none;
}

.numbers-box img {
    min-height: 33px;
}

.numbers-box p {
    margin-top: 15px;
}

/* Fine terza sezione */
/* Inizio quarta sezione */

#growth-top {
    float: left;
    width: 100%;
    padding-top: 120px;
    margin-bottom: 150px;
}

#growth-top-left {
    float: left;
    width: 30%;
    margin-right: 15%;
}

#growth-top-left h3 {
    font-size: 44px;
    font-weight: 700;
    padding-bottom: 20px;
}

#growth-top-left p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

#growth-top-left span {
    font-weight: 700;
}

#growth-top-right {
    float: left;
    width: 55%;
}

.gtr-row {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.gtr-box, .gtr-box-two {
    float: right;
    width: 20%;
    text-align: center;
    margin-left: 3%;
}

.gtr-row img {
    width: 100%;
    padding: 10px 5px;
}

#growth-bottom {
    float: left;
    width: 100%;
}

#growth-bottom-left {
    float: left;
    width: 50%;
    margin-bottom: 200px;
    margin-right: 20%;
}

#growth-bottom-left h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
}

#gbl-top p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

#gbl-bottom p {
    clear: both;
    font-size: 12px;
}
#gbl-bottom .btn {
    float: left;
    padding: 20px 10px;
    margin-bottom: 30px;
}

#gbl-bottom a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 20px;
}

#growth-bottom-right {
    float: left;
    width: 30%;
}

#growth-bottom-right img {
    width: 100%;
}

/* Fine quarta sezione */
/* Inizio footer */

footer {
    background-color: rgb(51, 71, 91);
}

#footer-top h4 {
    color: white;
    margin-top: 100px;
    margin-bottom: 10px;
}

#footer-top li {
    margin: 20px 0;
}

#footer-top a {
    color: rgb(230, 233, 235) ;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

#footer-top a:hover {
    color: rgb(127, 209, 222);
}

.linklist .fa-caret-down {
    color: white;
    font-size: 14px;
    padding-left: 5px;
}

.linklist #no-link:hover {
    color: rgb(230, 233, 235);
}

.linklist {
    float: left;
    width: 25%;
}

#footer-button {
    float: left;
    border-radius: 3px;
    background-color: rgb(230, 233, 235);
    padding: 10px 10px;
}

#footer-button a  {
    text-decoration: none;
    color: rgb(51, 71, 91);
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
}

#footer-button a:hover {
    color: rgb(51, 71, 91);
}

#footer-social ul, #footer-social li  {
    display: inline-block;
}

#footer-social a {
    text-decoration: none;
    color: rgb(230, 233, 235);
    font-size: 22px;
}

#footer-social li {
    margin-right: 25px;
}

#footer-social li:last-child {
    margin-right: 0;
}

#footer-language {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#footer-language ul, #footer-language li {
    display: inline-block;
}

#footer-language li {
    padding: 20px;
}

#footer-language a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(230, 233, 235);
}

#footer-language a:hover {
    color: rgb(127, 209, 222);
}

#footer-info {
    margin-top: 30px;
}

#fi-left {
    float: left;
    width: 50%;
}

#fi-left p {
    font-size: 12px;
    color: rgb(230, 233, 235);
    font-weight: 400;
    margin-bottom: 60px;
    margin-top: 10px;
}

#fi-right {
    float: left;
    width: 50%;
    text-align: right;
}

#fi-right ul, #fi-right li {
    display: inline-block;
}

#fi-right li {
    margin-right: 20px;
    padding-top: 5px;
}

#fi-right a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

#fi-right a:hover {
    color: rgb(127, 209, 222);
}

/* Fine footer */
/* fixed message */

#message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: rgb(71, 91, 111);
    box-shadow: 2px 2px 10px black;
    text-align: center;
}

#message img {
    padding: 10px;
    transform: scale(0.8);
}

#message:hover {
    box-shadow: 3px 3px 15px black;
}
